#:schema node_modules/wrangler/config-schema.json
name = "nextjs-supabase-cloudflare"
compatibility_date = "2024-06-14"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

# To use different bindings for preview and production environments, follow the examples below.
# When using environment-specific overrides for bindings, ALL bindings must be specified on a per-environment basis.
# Docs: https://developers.cloudflare.com/pages/functions/wrangler-configuration#environment-specific-overrides

# 本地环境
[vars]
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# online supabase https://supabase.com/dashboard/project/isctijevbnqhqxsonpul/settings/api
# A RESTful endpoint for querying and managing your database.
NEXT_PUBLIC_SUPABASE_URL=""
# This key is safe to use in a browser if you have enabled Row Level Security (RLS) for your tables and configured policies. You may also use the service key which can be found here to bypass RLS.
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
# This key has the ability to bypass Row Level Security. use for supabaseAdmin
SUPABASE_SERVICE_ROLE_KEY=""

# Get these from Stripe dashboard https://dashboard.stripe.com/test/dashboard
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
# run "stripe listen --forward-to localhost:3000/api/webhook" and get the webhook secret
STRIPE_WEBHOOK_SECRET=""

# stripe product1
STRIPE_PRODUCT_ID1=""
# stripe product2
STRIPE_PRODUCT_ID2=""

# stripe product1 points
STRIPE_PRODUCT_POINTS1=""
# stripe product2 points
STRIPE_PRODUCT_POINTS2=""
# cost points
NEXT_PUBLIC_PRODUCT_COST_POINTS=""



######## PREVIEW environment config ########

[env.preview.vars]
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# online supabase https://supabase.com/dashboard/project/isctijevbnqhqxsonpul/settings/api
# A RESTful endpoint for querying and managing your database.
NEXT_PUBLIC_SUPABASE_URL=""
# This key is safe to use in a browser if you have enabled Row Level Security (RLS) for your tables and configured policies. You may also use the service key which can be found here to bypass RLS.
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
# This key has the ability to bypass Row Level Security. use for supabaseAdmin
SUPABASE_SERVICE_ROLE_KEY=""

# Get these from Stripe dashboard https://dashboard.stripe.com/test/dashboard
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
# run "stripe listen --forward-to localhost:3000/api/webhook" and get the webhook secret
STRIPE_WEBHOOK_SECRET=""

# stripe product1
STRIPE_PRODUCT_ID1=""
# stripe product2
STRIPE_PRODUCT_ID2=""

# stripe product1 points
STRIPE_PRODUCT_POINTS1=""
# stripe product2 points
STRIPE_PRODUCT_POINTS2=""
# cost points
NEXT_PUBLIC_PRODUCT_COST_POINTS=""


######## PRODUCTION environment config ########

[env.production.vars]
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# online supabase https://supabase.com/dashboard/project/isctijevbnqhqxsonpul/settings/api
# A RESTful endpoint for querying and managing your database.
NEXT_PUBLIC_SUPABASE_URL=""
# This key is safe to use in a browser if you have enabled Row Level Security (RLS) for your tables and configured policies. You may also use the service key which can be found here to bypass RLS.
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
# This key has the ability to bypass Row Level Security. use for supabaseAdmin
SUPABASE_SERVICE_ROLE_KEY=""

# Get these from Stripe dashboard https://dashboard.stripe.com/test/dashboard
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
# run "stripe listen --forward-to localhost:3000/api/webhook" and get the webhook secret
STRIPE_WEBHOOK_SECRET=""

# stripe product1
STRIPE_PRODUCT_ID1=""
# stripe product2
STRIPE_PRODUCT_ID2=""

# stripe product1 points
STRIPE_PRODUCT_POINTS1=""
# stripe product2 points
STRIPE_PRODUCT_POINTS2=""
# cost points
NEXT_PUBLIC_PRODUCT_COST_POINTS=""
